.App {
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 20px;
}
.sell-area {
  padding: 20px;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  min-height: 60vh;
}

.card-image {
  width: 300px;
}

.ant-card {
  display: inline-grid;
}

.dropzone {
  border: 1px dotted lightgray;
  padding-top: 20px;
  height: 100px;
  cursor: pointer;
}

.ant-input {
  max-width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ant-input-group-wrapper {
  margin: 10px;
}

.ant-layout-header {
  background: white !important;
}

.ant-btn,
.ant-btn-circle {
  /* padding: 10px 20px 10px 20px !important; */
  margin: 10px;
}

.nav-logo {
  height: 25px;
}
